<div class="main">

  <div class="data">
    <div>
      <h2>GRADO:</h2>
      <h2>NOMBRES:</h2>
      <h2>APELLIDOS:</h2>
      <h2>GESTION:</h2>
    </div>
    <div>
      <h2>label</h2>
      <h2>label</h2>
      <h2>label</h2>
      <h2>label</h2>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="semestre">
      <th mat-header-cell *matHeaderCellDef> Semestre </th>
      <td mat-cell *matCellDef="let element"> {{element.semestre}} </td>
    </ng-container>

    <ng-container matColumnDef="promedio">
      <th mat-header-cell *matHeaderCellDef> Promedio </th>
      <td mat-cell *matCellDef="let element"> {{element.promedio}} </td>
    </ng-container>

    <ng-container matColumnDef="literal">
      <th mat-header-cell *matHeaderCellDef> Literal </th>
      <td mat-cell *matCellDef="let element"> {{element.literal}} </td>
    </ng-container>

    <ng-container matColumnDef="obs">
      <th mat-header-cell *matHeaderCellDef> OBS. </th>
      <td mat-cell *matCellDef="let element"> {{element.obs}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button
    mat-raised-button
    class="button-primary"
    (click)="print()">
    IMPRIMIR
  </button>
  <button
    mat-raised-button
    class="button-primary"
    (click)="openDialog()">
    EDITAR FIRMAS
  </button>

</div>
