<div class="main">

  <div class="data">
    <ng-container >
      <img mat-card-image src="images/emte.png" alt="Escudo EMTE" class="logo">
    </ng-container>
    <ng-container>
      <span><b>GRADO:</b> {{ estudiante.grado || "No definido" }}</span>
      <span><b>GENERO:</b> {{ estudiante.genero || "No definido" }}</span>
      <span><b>NOMBRES:</b> {{ estudiante.nombres || "No definido" }}</span>
      <span><b>APELLIDOS:</b> {{ estudiante.apPat || "No definido" }} {{ estudiante.apMat || "No definido" }}</span>
    </ng-container>
  </div>

  <div class="group">

  <mat-form-field class="nivel">
    <mat-label>Seleccione el curso</mat-label>
    <mat-select [(ngModel)]="nivelSeleccionado" (selectionChange)="onNivelChange()">
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{ option.viewValue }}
      </mat-option>

    </mat-select>
  </mat-form-field>
  <div *ngIf="cargandoNotas" class="loader-container">
    <mat-spinner diameter="40"></mat-spinner>
    <p style="font-weight: bold;">Cargando notas...</p>
  </div>

    <div class="notas" *ngIf="nivelSeleccionado === 'basico' && !cargandoNotas">
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of materiasBasico; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.codigo] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="notas" *ngIf="nivelSeleccionado === 'avanzado' && !cargandoNotas">
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of materiasAvanzado; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.codigo] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="notas" *ngIf="nivelSeleccionado === 'primerSemestre' && !cargandoNotas">
      <h3 class="tituloTabla">MATERIAS ACADÉMICAS</h3>
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of materiasPrimerSemestreAcademicas; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.codigo + '-Nota Final'] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
      <h3 class="tituloTabla">MATERIAS MILITARES</h3>
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of materiasPrimerSemestreMilitares; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.codigo + '-Nota Final'] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
      <h3 class="tituloTabla">MATERIAS FISICAS</h3>
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of pruebasFisicas.slice(0, 11); let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.nombre] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="notas" *ngIf="nivelSeleccionado === 'segundoSemestre' && !cargandoNotas">
      <h3 class="tituloTabla">MATERIAS ACADÉMICAS</h3>
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of materiasSegundoSemestreAcademicas; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.codigo + '-Nota Final'] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
      <h3 class="tituloTabla">MATERIAS MILITARES</h3>
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of materiasSegundoSemestreMilitares; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.codigo + '-Nota Final'] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
      <h3 class="tituloTabla">MATERIAS FISICAS</h3>
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of pruebasFisicas.slice(0, 11); let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.nombre] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="notas" *ngIf="nivelSeleccionado === 'tercerSemestre' && !cargandoNotas">
      <h3 class="tituloTabla">MATERIAS ACADÉMICAS</h3>
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of materiasTercerSemestreAcademicas; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.codigo + '-Nota Final'] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
      <h3 class="tituloTabla">MATERIAS MILITARES</h3>
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of materiasTercerSemestreMilitares; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.codigo + '-Nota Final'] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
      <h3 class="tituloTabla">MATERIAS FISICAS</h3>
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of pruebasFisicas.slice(0, 11); let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.nombre] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="notas" *ngIf="nivelSeleccionado === 'cuartoSemestre' && !cargandoNotas">
      <h3 class="tituloTabla">MATERIAS ACADÉMICAS</h3>
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of materiasCuartoSemestreAcademicas; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.codigo + '-Nota Final'] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
      <h3 class="tituloTabla">MATERIAS MILITARES</h3>
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of materiasCuartoSemestreMilitares; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.codigo + '-Nota Final'] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
      <h3 class="tituloTabla">MATERIAS FISICAS</h3>
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of pruebasFisicas.slice(0, 11); let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.nombre] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="notas" *ngIf="nivelSeleccionado === 'quintoSemestre' && !cargandoNotas">
      <h3 class="tituloTabla">MATERIAS ACADÉMICAS</h3>
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of materiasQuintoSemestreAcademicas; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.codigo + '-Nota Final'] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
      <h3 class="tituloTabla">MATERIAS MILITARES</h3>
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of materiasQuintoSemestreMilitares; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.codigo + '-Nota Final'] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
      <h3 class="tituloTabla">MATERIAS FISICAS</h3>
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of pruebasFisicas.slice(0, 11); let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.nombre] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="notas" *ngIf="nivelSeleccionado === 'sextoSemestre' && !cargandoNotas">
      <h3 class="tituloTabla">MATERIAS ACADÉMICAS</h3>
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of materiasSextoSemestreAcademicas; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.codigo + '-Nota Final'] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
      <h3 class="tituloTabla">MATERIAS MILITARES</h3>
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of materiasSextoSemestreMilitares; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.codigo + '-Nota Final'] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
      <h3 class="tituloTabla">MATERIAS FISICAS</h3>
      <table class="mat-elevation-z8 table">
        <thead>
          <tr>
            <th style="text-align: left;">Nº</th>
            <th style="text-align: left;">Unidad de Enseñanza</th>
            <th style="text-align: left;">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of pruebasFisicas.slice(0, 11); let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ notasRegistradas[materia.nombre] ?? '—' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  <div class="buttons">
    <button
      mat-raised-button
      class="button-primary"
      (click)="print()">
      IMPRIMIR
    </button>

  </div>
</div>

</div>

